<mat-toolbar color="primary">
    <a mat-button routerLink="/">
      <mat-icon>
        home
      </mat-icon>
      My Book shop
    </a>
      <a mat-button routerLink="/who-we-are">
      <mat-icon>face</mat-icon>
      Who We Are
      </a>
      <a mat-button routerLink="/shopping-time">
      <mat-icon>shopping_cart</mat-icon>
      Shopping time
      </a> 
      <a mat-button routerLink='/find-authors'>
      <mat-icon>book</mat-icon>
      Find authors
      </a>
      <app-shopping-cart></app-shopping-cart>
  </mat-toolbar>
  
