#cart-summary{
    width: 100%;
}
#totalPrice{
    float: left;
    margin-top: 8px;
}
.fullwidth{
    width: 100%;
}
.half-width{
    width: 50%;
}
#address{
    margin-top: 50px;
}
#city-field{
    width: 33%;
}
#state-field{
    width: 33%;
}
#zipcode-field{
    width:34%;
}